<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.ccic.salesapp.noncar.repository.databusdb.mapper.TPrdPlanSharedCtGroupMapper">
	<resultMap id="BaseResultMap"
		type="com.ccic.salesapp.noncar.repository.databusdb.po.TPrdPlanSharedCtGroup">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="plan_Shared_Id" property="planSharedId"
			jdbcType="BIGINT" />
		<result column="plan_Def_Id" property="planDefId" jdbcType="BIGINT" />
		<result column="group_Type" property="groupType" jdbcType="VARCHAR" />
		<result column="group_Description" property="groupDescription"
			jdbcType="VARCHAR" />
		<result column="main_Per" property="mainPer" jdbcType="VARCHAR" />
		<result column="rider_Per" property="riderPer" jdbcType="VARCHAR" />
		<result column="discount_Per" property="discountPer" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, plan_Shared_Id, plan_Def_Id, group_Type, group_Description, main_Per,
		rider_Per,
		discount_Per
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_prd_plan_shared_ct_group
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_prd_plan_shared_ct_group
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert"
		parameterType="com.ccic.salesapp.noncar.repository.databusdb.po.TPrdPlanSharedCtGroup">
		insert into t_prd_plan_shared_ct_group (id, plan_Shared_Id,
		plan_Def_Id,
		group_Type, group_Description, main_Per,
		rider_Per, discount_Per)
		values (#{id,jdbcType=BIGINT}, #{planSharedId,jdbcType=BIGINT},
		#{planDefId,jdbcType=BIGINT},
		#{groupType,jdbcType=VARCHAR}, #{groupDescription,jdbcType=VARCHAR}, #{mainPer,jdbcType=VARCHAR},
		#{riderPer,jdbcType=VARCHAR}, #{discountPer,jdbcType=VARCHAR})
		ON DUPLICATE KEY UPDATE
		plan_Shared_Id=VALUES(plan_Shared_Id),
		plan_Def_Id=VALUES(plan_Def_Id),
		group_Type=VALUES(group_Type),
		group_Description=VALUES(group_Description),
		main_Per=VALUES(main_Per),
		rider_Per=VALUES(rider_Per),
		discount_Per=VALUES(discount_Per)

	</insert>
	
	<delete id="deleteByPlanSharedCtGroupId"	parameterType="java.lang.Long">
		delete from t_prd_plan_shared_ct_group where PLAN_DEF_ID =#{delPlanDefId}
	</delete>
	
	<insert id="insertSelective"
		parameterType="com.ccic.salesapp.noncar.repository.databusdb.po.TPrdPlanSharedCtGroup">
		insert into t_prd_plan_shared_ct_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="planSharedId != null">
				plan_Shared_Id,
			</if>
			<if test="planDefId != null">
				plan_Def_Id,
			</if>
			<if test="groupType != null">
				group_Type,
			</if>
			<if test="groupDescription != null">
				group_Description,
			</if>
			<if test="mainPer != null">
				main_Per,
			</if>
			<if test="riderPer != null">
				rider_Per,
			</if>
			<if test="discountPer != null">
				discount_Per,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="planSharedId != null">
				#{planSharedId,jdbcType=BIGINT},
			</if>
			<if test="planDefId != null">
				#{planDefId,jdbcType=BIGINT},
			</if>
			<if test="groupType != null">
				#{groupType,jdbcType=VARCHAR},
			</if>
			<if test="groupDescription != null">
				#{groupDescription,jdbcType=VARCHAR},
			</if>
			<if test="mainPer != null">
				#{mainPer,jdbcType=VARCHAR},
			</if>
			<if test="riderPer != null">
				#{riderPer,jdbcType=VARCHAR},
			</if>
			<if test="discountPer != null">
				#{discountPer,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.ccic.salesapp.noncar.repository.databusdb.po.TPrdPlanSharedCtGroup">
		update t_prd_plan_shared_ct_group
		<set>
			<if test="planSharedId != null">
				plan_Shared_Id = #{planSharedId,jdbcType=BIGINT},
			</if>
			<if test="planDefId != null">
				plan_Def_Id = #{planDefId,jdbcType=BIGINT},
			</if>
			<if test="groupType != null">
				group_Type = #{groupType,jdbcType=VARCHAR},
			</if>
			<if test="groupDescription != null">
				group_Description = #{groupDescription,jdbcType=VARCHAR},
			</if>
			<if test="mainPer != null">
				main_Per = #{mainPer,jdbcType=VARCHAR},
			</if>
			<if test="riderPer != null">
				rider_Per = #{riderPer,jdbcType=VARCHAR},
			</if>
			<if test="discountPer != null">
				discount_Per = #{discountPer,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.ccic.salesapp.noncar.repository.databusdb.po.TPrdPlanSharedCtGroup">
		update t_prd_plan_shared_ct_group
		set plan_Shared_Id = #{planSharedId,jdbcType=BIGINT},
		plan_Def_Id = #{planDefId,jdbcType=BIGINT},
		group_Type = #{groupType,jdbcType=VARCHAR},
		group_Description = #{groupDescription,jdbcType=VARCHAR},
		main_Per = #{mainPer,jdbcType=VARCHAR},
		rider_Per = #{riderPer,jdbcType=VARCHAR},
		discount_Per = #{discountPer,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>