<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccic.salesapp.performance.domain.mapper.AgentPremiumMapper">

   
    <select id="getAgentPremiumByAgentCode" parameterType="String" resultType="com.ccic.salesapp.performance.domain.vo.response.AgentPerformanceResponse">
       SELECT         
       		   SUM(ifnull(T.REALPREMIUM_D,0)) total_d,
	           SUM(CASE WHEN CLASSNAME='车险' THEN ifnull(T.REALPREMIUM_D,0) ELSE 0 END) car_d,
	           SUM(CASE WHEN CLASSNAME='财产险' THEN ifnull(T.REALPREMIUM_D,0) ELSE 0 END) nocar_d,
	           SUM(CASE WHEN CLASSNAME='意外险' THEN ifnull(T.REALPREMIUM_D,0) ELSE 0 END) acc_d,
			   SUM(CASE WHEN CLASSNAME='健康险' THEN ifnull(T.REALPREMIUM_D,0) ELSE 0 END) hea_d,
			   SUM(ifnull(T.NUM_D,0)) num_total_d,
			   SUM(CASE WHEN CLASSNAME='车险' THEN ifnull(T.NUM_D,0) ELSE 0 END) num_car_d,
               SUM(CASE WHEN CLASSNAME='财产险' THEN ifnull(T.NUM_D,0) ELSE 0 END) num_nocar_d,
               SUM(CASE WHEN CLASSNAME='意外险' THEN ifnull(T.NUM_D,0) ELSE 0 END) num_acc_d,
               SUM(CASE WHEN CLASSNAME='健康险' THEN ifnull(T.NUM_D,0) ELSE 0 END) num_hea_d,
               SUM(ifnull(T.REALPREMIUM_M,0)) total_m,
	           SUM(CASE WHEN CLASSNAME='车险' THEN ifnull(T.REALPREMIUM_M,0) ELSE 0 END) car_m,
	           SUM(CASE WHEN CLASSNAME='财产险' THEN ifnull(T.REALPREMIUM_M,0) ELSE 0 END) nocar_m,
	           SUM(CASE WHEN CLASSNAME='意外险' THEN ifnull(T.REALPREMIUM_M,0) ELSE 0 END) acc_m,
			   SUM(CASE WHEN CLASSNAME='健康险' THEN ifnull(T.REALPREMIUM_M,0) ELSE 0 END) hea_m,
			   SUM(ifnull(T.NUM_M,0)) num_total_m,
			   SUM(CASE WHEN CLASSNAME='车险' THEN ifnull(T.NUM_M,0) ELSE 0 END) num_car_m,
               SUM(CASE WHEN CLASSNAME='财产险' THEN ifnull(T.NUM_M,0) ELSE 0 END) num_nocar_m,
               SUM(CASE WHEN CLASSNAME='意外险' THEN ifnull(T.NUM_M,0) ELSE 0 END) num_acc_m,
               SUM(CASE WHEN CLASSNAME='健康险' THEN ifnull(T.NUM_M,0) ELSE 0 END) num_hea_m,
               SUM(ifnull(T.REALPREMIUM_Q,0)) total_q,
	           SUM(CASE WHEN CLASSNAME='车险' THEN ifnull(T.REALPREMIUM_Q,0) ELSE 0 END) car_q,
	           SUM(CASE WHEN CLASSNAME='财产险' THEN ifnull(T.REALPREMIUM_Q,0) ELSE 0 END) nocar_q,
	           SUM(CASE WHEN CLASSNAME='意外险' THEN ifnull(T.REALPREMIUM_Q,0) ELSE 0 END) acc_q,
			   SUM(CASE WHEN CLASSNAME='健康险' THEN ifnull(T.REALPREMIUM_Q,0) ELSE 0 END) hea_q,
			   SUM(ifnull(T.NUM_Q,0)) num_total_q,
			   SUM(CASE WHEN CLASSNAME='车险' THEN ifnull(T.NUM_Q,0) ELSE 0 END) num_car_q,
               SUM(CASE WHEN CLASSNAME='财产险' THEN ifnull(T.NUM_Q,0) ELSE 0 END) num_nocar_q,
               SUM(CASE WHEN CLASSNAME='意外险' THEN ifnull(T.NUM_Q,0) ELSE 0 END) num_acc_q,
               SUM(CASE WHEN CLASSNAME='健康险' THEN ifnull(T.NUM_Q,0) ELSE 0 END) num_hea_q,
               SUM(ifnull(T.REALPREMIUM_Y,0)) total_Y,
	           SUM(CASE WHEN CLASSNAME='车险' THEN ifnull(T.REALPREMIUM_Y,0) ELSE 0 END) car_y,
	           SUM(CASE WHEN CLASSNAME='财产险' THEN ifnull(T.REALPREMIUM_Y,0) ELSE 0 END) nocar_y,
	           SUM(CASE WHEN CLASSNAME='意外险' THEN ifnull(T.REALPREMIUM_Y,0) ELSE 0 END) acc_y,
			   SUM(CASE WHEN CLASSNAME='健康险' THEN ifnull(T.REALPREMIUM_Y,0) ELSE 0 END) hea_y,
			   SUM(ifnull(T.NUM_Y,0)) num_total_y,
			   SUM(CASE WHEN CLASSNAME='车险' THEN ifnull(T.NUM_Y,0) ELSE 0 END) num_car_y,
               SUM(CASE WHEN CLASSNAME='财产险' THEN ifnull(T.NUM_Y,0) ELSE 0 END) num_nocar_y,
               SUM(CASE WHEN CLASSNAME='意外险' THEN ifnull(T.NUM_Y,0) ELSE 0 END) num_acc_y,
               SUM(CASE WHEN CLASSNAME='健康险' THEN ifnull(T.NUM_Y,0) ELSE 0 END) num_hea_y


		FROM T_PERFORMANCE_DATABUS_AGENT_PREMIUM T
		WHERE T.AGENTCODE= #{agentCode}
        and t.reportdate in (select max(reportdate) peportdate from  T_PERFORMANCE_DATABUS_AGENT_PREMIUM where AGENTCODE= #{agentCode} )
    </select>

	
</mapper>